/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


    /* common */

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}

input[type=submit]{
    font-size: 20px;
    color: #fff;
    background-color: #993399;
    border-radius: 20px;
    margin-left: 20px;
}

input[type=text]{
    border-color: #ccc;
}

.flash{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #ff9933;
}

@media(min-width: 750px){
    input[type=submit]{
        font-size: 30px;
    } 
    
    .flash{
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    }
}

@media(min-width: 950px){
    input[type=submit]{
        font-size: 40px;
    } 
    
    .flash{
    height: 50px;
    font-size: 36px;
    line-height: 50px;
    }
}

   /* common header */

.header{
    position: fixed;           
    top: 0px;                  
    left: 0px;  
    width: 100%;
    height: 100px;
    background-color: #009933;
}

body{
    margin-top: 100px;
}

    .header h1{
        color: #fff;
        font-size: 30px;
        margin-left: 30px;
        line-height: 100px;
        font-family: sans-serif;
        text-shadow: 0px 0px 10px #000, 10px 10px 15px #000;
    }

.header-mobile-menu{
    color: #fff;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
    text-shadow: 0px 0px 10px #000, 10px 10px 15px #000;
}

.header-pc-menu{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
   display: none; 
}

.header-pc-menu < li{
    display: inline-block;
    cursor: pointer;
}

.header-pc-menu a{
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 10px 10px;
}
.header-pc-menu a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}

  /* tablet header */

@media(min-width: 750px){
    .header{
        height: 120px;
    }
    
    body{
    margin-top: 120px;
}
    
    .header h1{
        font-size: 40px;
        line-height: 120px;
    }
    
    .header-mobile-menu{
        margin-top: 35px;
    }
}


/* pc header */

@media(min-width: 950px){
    .header{
        height: 150px;
    }
    
    body{
    margin-top: 150px;
}
    
    .header h1{
        font-size: 50px;
        line-height: 150px;
    }
    
    .header-pc-menu{
        display: block;
    }
    
    .header-mobile-menu{
        display: none;
    }
}

/* common footer */
     
    .footer{
    position: absolute;
    bottom: 0px;
    background-color: #009933;
    height: 30px;
    width: 100%;
    font-size: 14px;
    color: #ccc;
    text-align: center;
}

@media(min-width: 950px){
    .footer{
        height: 40px;
        font-size: 22px;
    }
}

/* common top */

.top_background{
    position: absolute;
    width: 100%;
    height: 639px;
    background-color: rgba(0,0,0,0.5);
}
.top_img{
width: 100%;
height: 639px;
    background-image: url("space.jpg");
    background-size: cover;
}

.top h1{
    position: absolute;
    top: 200px;
    left: 20%;
    color: red;
    font-size: 80px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #fff;   
}

.top_nav{
    position: absolute;
    top: 350px;
    left: 15%;
    margin-top: 100px;
    margin-left: 40px;
   
}

.top-nav{
    font-size: 25px;
    background-color: #ff8844;
    border-radius: 30px;
    padding: 10px 50px;
    height: 20px;
    text-align: center;
}


.login_account{
    position: relative;
    top: 50px;
}

.top_nav a{ color: #fff;}

/* top title and navigation position change */
@media(min-width: 500px){
   
    .top_nav{
        position: absolute;
        left: 25%;
    }
    
    .top-nav{
        font-size: 40px;
    }
}

@media(min-width: 750px){
    .top h1{
        font-size: 90px;
        position: absolute;
        top: 300px;
        left: 20%;
    }
    
    .top_nav{
        position: absolute;
        top: 500px;
        left: 30%;
    }
    
    .top-nav{
        font-size: 50px;
    }
    
    .top_background{
        height: 985px;
    }
    
    .top_img{
        height: 985px;
    }
    
}

@media(min-width: 950px){
    .top h1{
        font-size: 100px;
        position: absolute;
        top: 400px;
        left: 20%;
    }
    
    .top_nav{
        position: absolute;
        top: 600px;
        left: 30%;
    }
    
    .top-nav{
        font-size: 60px;
    }
    
    .top_background{
        height: 1450px;
    }
    
    .top_img{
        height: 1450px;
    }
    
}

/* common form */

.form{
    width: 100%;
}

.form h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 300px;
}

.form p{
    margin-top: 20px;
    font-size: 20px;
}

.form label{
    font-size: 18px;
}

.form a{
    font-size: 18px;
}

input{
    font-size: 22px;
    padding: 10px;
    margin-top: 10px;
}

select{
    font-size: 20px;
}

textarea{
    font-size: 22px;
    width: 80%;
    height: 150px;
    margin-top: 10px;
    padding: 15px;
    line-height: 1.4em;
    border-color: #ccc;
}

.form .show_return{
    float: right;
    position: relative;
    bottom: 78px;
}

@media(min-width: 600px){
    .form{
        position: relative;
        left: 20%;
    }
    
    .form h2{
        font-size: 40px;
    }
    
    .form p{
        font-size: 30px;
    }
    
    .form label{
        font-size: 20px;
    }
    
    .form a{
        font-size: 20px;
    }
}

/* common index */

.index{
    width: 100%;
}

.index h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
}

.add_index a{
    font-size: 20px;
    position: relative;
    top: 5px;
    float: right;
    color: #fff;
    text-decoration: none;
    background-color: #3b5998;
    padding: 4px 8px;
    border-radius: 8px;
    
}

.add_index a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}

.index_title{
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 5px;
}

.index_list a{
    color: #fff;
    text-decoration: none;
    background-color: #009933;
    padding: 4px 8px;
    border-radius: 5px;
}
.index_list a:hover{
    transition: 0.5s;
    background-color: #22bb55;
}

.note-content{
    margin-left: 40px;
}

/* tablet index */

@media(min-width: 750px){
    .index h2{
        font-size: 45px;
    }
    
    .add_index a{
        font-size: 30px;
    }
    
    .index_title{
        font-size: 40px;
    }
    
    .note-content{
        font-size: 24px;
    }
}

@media(min-width: 950px){
    .index h2{
        font-size: 60px;
    }
    
    .add_index a{
        font-size: 40px;
    }
    
    .index_title{
        font-size: 60px;
    }
    
    .note-content{
        font-size: 40px;
    }
    
    
}

/* common show */

.show{
    width: 100%;
}

.show h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
}

.show p{
    font-size: 22px;
}

.link a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.show_edit a{
    background-color: #3b5998;
}

.show_edit a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}

.show_destroy a{
    background-color: #dd0000;
}

.show_destroy a:hover{
    transition: 0.5s;
    background-color: #ff3333;
}

.show_return a{
    background-color: #ff9933;
}

.show_return a:hover{
    transition: 0.5s;
    background-color: #ffaa55;
}

.show_like a{
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
}

@media(min-width: 750px){
    .show h2{
        font-size: 45px;
        margin-left: 30px;
    }
    
    .show p{
        font-size: 30px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    .link a{
        font-size: 40px;
    }
    
}

@media(min-width: 950px){
    .show h2{
        font-size: 60px;
        margin-left: 50px;
    }
    
    .show p{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .link a{
        font-size: 50px;
    }
    
    
}

/* common table */

.add_lecture a{
    font-size: 22px;
    position: relative;
    top: 5px;
    float: right;
    color: #fff;
    text-decoration: none;
    background-color: #3b5998;
    padding: 4px 8px;
    border-radius: 5px;
}

.add_lecture a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}

table{
    width: 100%;
}
th{
    width: 19%;
    height: 60px;
}
td{
    height: 60px;
}
.table_time{
    width: 5%;
}
table a{
    float: right;
    position: relative;
    top: 0px;
    color: #fff;
    text-decoration: none;
    background-color: #009933;
    padding: 5px 8px;
    border-radius: 5px;
}
table a:hover{
    transition: 0.5s;
    background-color: #22bb55;
}

/* table_show */

.add_index_p p{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* lecture_show */

.show_add a{
    float: right;
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 5px 10px;
    border-radius: 5px;   
}

.show_add a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}

.show_delete a{
    float: right;
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.show_delete a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}








