/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.flash{
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    background-color: #ff9933;
}

input[type=submit]{
    font-size: 40px;
    color: #fff;
    background-color: #993399;
    border-radius: 20px;
}

/* ここまでが共通 */
.header{
    position: fixed;           
    top: 0px;                  
    left: 0px;  
    width: 100%;
    height: 150px;
    background-color: #009933;
}

body{
    margin: 150px 0;
}

    .header h1{
        color: #fff;
        font-size: 50px;
        margin-left: 30px;
        line-height: 150px;
        font-family: sans-serif;
        text-shadow: 0px 0px 10px #000, 10px 10px 15px #000;
    }
    
    
/* ここまでがheader */
.top_background{
    position: absolute;
    width: 100%;
    height: 1600px;
    background-color: rgba(0,0,0,0.5);
}
.top_img{
width: 100%;
height: 1600px;
    background-image: url("space.jpg");
    background-size: cover;
}
.top_text{
    color: #fff;
    position: absolute;
    top: 550px;
    left: 150px;
    /* text-align or marginで中央ぞろえにしたい */
}
.top h1{
    font-size: 120px;
    font-family: "Lucida Console", Monaco, monospace;
}
.top_nav{
    text-align: center;
    margin-top: 200px;
    margin-left: 40px;
   
}
.create_account{
    font-size: 50px;
    background-color: #ff8844;
    border-radius: 30px;
    padding: 40px 200px;
    height: 30px;
    text-align: center;
    
}

.login_account{
    position: relative;
    top: 120px;
    font-size: 50px;
    background-color: #ff8844;
    border-radius: 30px;
    padding: 40px 200px;
    height: 30px;
    text-align: center;
    
}

.top_nav a{ color: #fff;}

/* ここまでがtop */
    
.form{
    width: 600px;
    height: auto;
    margin: 0 auto;
}



.form h2{
    font-size: 70px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 300px;
    
}
.form p{
    margin-top: 40px;
    font-size: 50px;
}
input{
    font-size: 50px;
    padding: 15px;
    margin-top: 10px;
}

select{
    font-size: 20px;
}


textarea{
    font-size: 40px;
    width: 700px;
    height: 300px;
    margin-top: 10px;
    padding: 15px;
    line-height: 1.4em;
}

.note-textarea{
    height: 800px;
}

/* ここまでformの共通部分　*/
.show{
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.show h2{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 300px;
}
.show p{
    margin-top: 30px;
    font-size: 40px;
}

.link a{
    font-size: 40px;
}

.show_edit a{
    position: relative;
    top: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #3b5998;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.show_edit a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}
.show_destroy a{
    position: relative;
    bottom: 18px;
    left: 150px;
    color: #fff;
    text-decoration: none;
    background-color: #dd0000;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.show_destroy a:hover{
    transition: 0.5s;
    background-color: #ff3333;
}
.show_return a{
    position: relative;
    bottom: 76px;
    left: 300px;
    color: #fff;
    text-decoration: none;
    background-color: #ff9933;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.show_return a:hover{
    transition: 0.5s;
    background-color: #ffaa55;
}
.show_like a{
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
}

/* ここまでshowの共通部分　*/
.index{
    width: 600px;
    height: auto;
    margin: 0 auto;
}
.index h2{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 300px;
}
.add_index a{
    font-size: 40px;
    float: right;
    position: relative;
    top: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #3b5998;
    padding: 8px 15px;
    border-radius: 8px;
    
}
.add_index a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}


.index_title{
    margin-top: 10px;
    font-size: 40px;
    padding: 30px 20px;
}

.index_list a{
    position: relative;
    top: 1px;
    color: #fff;
    text-decoration: none;
    background-color: #009933;
    padding: 4px 8px;
    border-radius: 5px;
}
.index_list a:hover{
    transition: 0.5s;
    background-color: #22bb55;
}

/* ここまでがindexの共通部分 */

.add_lecture a{
    font-size: 35px;
    float: right;
    position: relative;
    top: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #3b5998;
    padding: 8px 15px;
    border-radius: 5px;
    
}
.add_lecture a:hover{
    transition: 0.5s;
    background-color: #5d7bba;
}
.add_lecture p{
    margin: 0;
    font-size: 16px;
}
table{
    width: 100%;
}
th{
    width: 19%;
    height: 60px;
}
td{
    height: 60px;
}
.table_time{
    width: 5%;
}
table a{
    float: right;
    position: relative;
    top: 0px;
    color: #fff;
    text-decoration: none;
    background-color: #009933;
    padding: 5px 8px;
    border-radius: 5px;
}
table a:hover{
    transition: 0.5s;
    background-color: #22bb55;
}
/* これは、table_show に対するcss */
.add_index_p p{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.add_index_p a{
    position: relative;
    top: 47px;
    right: 15px;
}
/* これは、　lecture_show に対するcss */
.show_add a{
    float: right;
    position: relative;
    top: 42px;
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.show_add a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}


.show_delete a{
    float: right;
    position: relative;
    top: 42px;
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.show_delete a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}
/* ここまでlecturesに関するcss */
nav{
    position: fixed;
    bottom: 0%;
    width: 850px;
    margin: 0px auto;
}

.fa{
    position: relative;
    left: 80px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    float: left;
    margin: 50px 30px;
}

nav a{
    color: #fff;
    text-decoration: none;
    background-color: #993399;
    padding: 10px 10px;
}
nav a:hover{
    transition: 0.5s;
    background-color: #cc66cc;
}
/* ここまでnavigationのcss */